@import '../../../variables.css';

.header {
  position: relative;
  width: 100%;
  min-height: 250px;
  background: var(--White);
  transform: translateZ(0);
  transition: all 0.5s ease-in-out;
}

.headerImg {
  /* TODO: Change this to contain */
  object-fit: cover;
  width: 100%;
  max-height: 580px;
  display: inline-block;
}

.logoInfo {
  position: absolute;
  left: 15%;
  display: inline-block;
  vertical-align: top;
  top: 0;
  height: 230px;
  width: 125px;
  text-align: center;
  background: var(--Smalt);
  padding-top: 30px;
}

.logo {
  text-decoration: none;
  color: var(--White);
  outline: none;
}

.tabContainer {
  position: absolute;
  top: 0;
  left: 30%;
  display: inline-block;
}

.label {
  color: var(--White);
}

.labelRoot {
  min-width: 80px !important;
  text-transform: none;
}

.authButton {
  color: #fff;
  background: var(--Jade);
  padding: 5px 15px;
  border-radius: 5px;
}
