@import '../../../../components/variables.css';

.container {
  position: relative;
  top: 74px;
  width: 60%;
  min-width: var(--max-content-width);
  margin: 40px auto;
  margin-bottom: 100px;
}

.card {
  width: 100%;
  margin-top: 30px;
  background: var(--White);
}

.showAllReviews {
  font-size: 12px;
  font-weight: 500;
  color: var(--Lochmara);
  cursor: pointer;
}

.showMore {
  font-weight: 500;
  color: var(--Lochmara);
  font-size: 14px;
  text-align: center;
  width: 100%;
  cursor: pointer !important;
  margin-top: 15px;
}

.skillWrapper {
  display: inline-block;
  width: 50%;
}

.title {
  font-weight: 500;
  padding: 10px 20px;
}

.year {
  font-size: 12px;
  padding: 5px 20px;
  color: var(--Silver);
}

.achievement {
  font-style: italic;
  color: var(--MineShaft);
  padding: 5px 20px;
}

.school {
  padding: 5px 20px;
}
