@import '../../../variables.css';

.breadCrumbContainer {
  min-height: 150px;
  min-width: 275px;
  overflow: visible;
  background: transparent;
  color: var(--White);
  position: absolute;
  max-width: 35%;
  top: 16%;
  left: 19%;
  padding: 10px;
  box-shadow: none;
}

.subTitle {
  font-size: 14px;
  font-weight: 400;
}

.title {
  font-size: 32px;
}

/* add !important against all CSS properties here to override material-ui css */
.headerBtn {
  text-transform: none !important;
  font-size: 14px !important;
  color: var(--Smalt) !important;
  background: var(--White) !important;
  margin-bottom: 10px !important;
  top: 20px;
}
