@import '../../components/variables.css';

.container {
  margin: 0 auto;
  padding: 0 0 40px;
}

.reviewCards {
  width: 88%;
  position: relative;
  height: 200px;
  margin: 40px auto 0;
  overflow: visible !important;
}
