@import '../../../../components/variables.css';

.btn {
  text-transform: none;
  transition: none;
  color: var(--White);
  padding: 5px 15px;
  background: var(--Smalt);
  position: absolute;
  right: 3%;
  margin-bottom: 20px;
}

.btn:hover {
  background: var(--Chambray);
}

.carousel {
  width: 70%;
  min-width: var(--max-content-width);
  margin: 40px auto;
  position: relative;
}

.title {
  font-size: 28px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 20px;
}
