@import '../../../../components/variables.css';

.container {
  background: var(--MineShaft);
  height: 200px;
  margin-top: 100px;
  padding: 0 15%;
  color: var(--White);
}

.header {
  display: inline-block;
  width: 11%;
  height: 100%;
  vertical-align: top;
}

.title {
  font-weight: 500;
}

.carousel {
  display: inline-block;
  margin-left: 10px;
  width: 87%;
  position: relative;
  top: -30px;
}

.nameTag {
  display: inline-block;
  position: absolute;
  top: 50%;
  visibility: hidden;
  opacity: 0;
  height: 80px;
  margin-left: 5px;
  color: var(--White);
}

.trainer:hover .nameTag {
  transition: visibility 0.2s ease-in, opacity 0.5s ease-in;
  opacity: 1;
  visibility: visible;
}

.viewAllBtn {
  text-transform: none;
  transition: none;
  color: var(--White);
  padding: 5px 15px;
  background: var(--Smalt);
}

.viewAllBtn:hover {
  background: var(--Chambray);
}

.trainer {
  display: inline-block;
  position: relative;
  height: 230px;
  width: 100%;
}

.trainerImg {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
