@font-face {
  font-family: 'pelvan';
  font-display: 'auto';
  src:  url('fonts/pelvan.woff?qmw98v');
  src:  url('fonts/pelvan.eot?qmw98v#iefix') format('embedded-opentype'),
    url('fonts/pelvan.ttf?qmw98v') format('truetype'),
    url('fonts/pelvan.woff?qmw98v') format('woff'),
    url('fonts/pelvan.svg?qmw98v#pelvan') format('svg');
  font-weight: normal;
  font-style: normal;
}
