@import '../../../variables.css';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  height: 74px;
  padding: 0 4%;
  background: var(--Astronaut);
  min-width: var(--max-content-width);
  transition: all 0.5s ease-in-out;
}

.withTopBar {
  top: 32px;
}

.logoInfo {
  position: relative;
  color: var(--White);
  top: 25px;
  cursor: pointer;
  margin-right: 3%;
  outline: none;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
}

.searchBar {
  display: inline-block;
  width: 40%;
  height: 74px;
  vertical-align: top;
}

.tabContainer {
  width: 50%;
  height: 74px;
  line-height: 74px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  left: 5%;
}

.label {
  color: var(--Silver);
}

.labelRoot {
  text-transform: none;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 35px;
}

.labelRoot:hover .label,
.labelRoot:hover i {
  color: var(--White);
}

.authButton {
  color: var(--White);
  background: var(--Jade);
  padding: 5px 15px;
  border-radius: 5px;
}

.authButton:hover {
  color: var(--White);
}

i {
  color: var(--Silver);
}

@media (max-width: 1248px) {
  .labelRoot {
    margin-left: 15px;
  }

  .logoInfo {
    margin-right: 4%;
  }
}
