@import '../../../../components/variables.css';

.name {
  text-align: center;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  padding: 5px 0;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.video {
  width: 100%;
}

.container {
  position: relative;
}

.hoverContainer {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 400px;
  height: 500px;
  z-index: 1;
  overflow: auto;
  box-shadow: 0 2px 2px var(--Gallery);
  background: var(--Alabaster);
}

.showRight {
  left: 100%;
  margin-left: 10px;
}

.showLeft {
  right: 100%;
}

.starRating {
  text-align: center;
}

.userReviewContainer {
  padding: 10px;
}

.reviewDate {
  font-size: 12px;
  font-weight: 500;
  margin: 8px 0;
}

.reviewTitle {
  font-weight: 500;
  margin-left: 5px;
  display: inline-block;
  width: 75%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
}

.userThumbnail {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.ratedBy {
  position: relative;
  font-size: 12px;
  color: var(--Boulder);
  top: 2px;
  margin-left: 5px;
}
