@import '../../../../components/variables.css';

.searchContainer {
  position: absolute;
  width: 600px;
  top: 90%;
}

.container {
  position: relative;
  width: 100%;
  min-width: var(--max-content-width);
  margin: 0 auto 50px;
}

.filterContainer {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  position: sticky;
  top: -4px;
  margin-top: 30px;
}

.trainerCarousel {
  margin: 0 auto;
  width: 76%;
  min-width: 0;
  padding-left: 15px;
  display: inline-block;
}

.grid {
  background: var(--White);
  margin-top: 40px;
  border-radius: 10px;
  padding-left: 8px;
}

.gridItem {
  width: 33%;
  padding: 5px;
  display: inline-block;
}

.gridHeader {
  height: 50px;
  line-height: 50px;
  position: sticky;
  background: var(--White);
  top: 0;
  z-index: 1;
}

.gridHeader span {
  position: absolute;
  right: 20px;
}

.sortBy {
  outline: none;
  color: var(--Trout);
  border: 1px solid var(--Gallery);
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .filterContainer {
    display: none;
  }

  .trainerCarousel {
    width: 95%;
  }
}
