@import '../../components/variables.css';

.container {
  margin: 40px auto;
  padding: 0 0 40px;
  width: 70%;
}

.reviewCard {
  display: inline-block;
  position: relative;
  height: 200px;
  width: 45%;
  margin: 2.5%;
  overflow: visible !important;
}
